.card {
  position: relative;
}

.card__title {
}

.card__name {
  background-color: #fff;
  font-family: Cabinet Grotesk, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  width: 73px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  position: absolute;
  top: 15px;
  left: 111px;
  cursor: default;
  margin: 0;
}

.card__name_logIn {
  left: 111px;
}
.card__name_not_logIn {
  left: 130px;
}

.card__like {
  position: absolute;
  top: 20px;
  right: 111px;
  cursor: pointer;
}

.card__image {
  width: 325px;
  height: 325px;
  border-radius: 19px;
  border: 1px solid #00000030;
  cursor: pointer;
}

@media screen and (max-width: 620px) {
  .card__name {
    margin: 0;
    padding: 2px 0;
    top: 7px;
    left: 45px;
  }

  .card__image {
    width: 162px;
    height: 162px;
  }
}
